{
    "extends": "@joaopalmeiro/eslint-config-react",
    "rules": {
        "no-shadow": [
            "error",
            {
                "builtinGlobals": true,
                "hoist": "all",
                "allow": ["Image", "Text"]
            }
        ],
        // https://recoiljs.org/docs/introduction/installation#eslint
        // https://www.npmjs.com/package/eslint-plugin-react-hooks
        // https://recoiljs.org/docs/api-reference/core/useRecoilCallback
        "react-hooks/exhaustive-deps": [
            "warn",
            {
                "additionalHooks": "(useRecoilCallback)"
            }
        ],
        // https://github.com/prettier/eslint-config-prettier#no-confusing-arrow
        // https://eslint.org/docs/rules/no-confusing-arrow#options
        "no-confusing-arrow": ["error", { "allowParens": false }]
    }
}
