{
    "extends": "@joaopalmeiro/eslint-config-react",
    "rules": {
        "no-shadow": [
            "error",
            {
                "builtinGlobals": true,
                "hoist": "all",
                "allow": ["Image", "Text"]
            }
        ]
    }
}
